<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="Serilog" version="2.5.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.0.1" targetFramework="net461" />
  <package id="Serilog.Sinks.Literate" version="3.0.0" targetFramework="net461" />
  <package id="XSockets" version="5.7.4" targetFramework="net461" />
  <package id="XSockets.Core" version="5.7.4" targetFramework="net461" />
  <package id="XSockets.ItemTemplates" version="5.0.2.2" targetFramework="net461" />
  <package id="XSockets.Plugin.Framework" version="5.7.4" targetFramework="net461" />
  <package id="XSockets.Server" version="5.7.4" targetFramework="net461" />
</packages>